/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clear {
    clear: both;
}

.fas .fa-angle-down{
    font-size: 12px;
    background-color: rgba(250, 246, 246, 0.747);
    border-radius:50%;
}

.text-white {
    color:#fff !important; 
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.pull-right {
    float: right !important;
}

.border-0{
    border: 0px !important;
}

.row {
    /* margin-left: -8px;
    margin-right: -8px; */
}

.row::after{
    content:"";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-three {
    width: 33.33333%;
}

.col-five {
    width: 20%;
}

.col-four {
    width: 25%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.text-center {
    text-align: center !important;
}

a {
    text-decoration-line:none ;
}

li{
    list-style: none;
}
/* hover */

.container li:hover,
.container li:hover .tool-icon,
.container li:hover> a,
.btn:hover,
.footer-container li:hover a,
.content-section .more-sub:hover,
.product-item .item-gr .sub:hover{
    color: #fa6400;
    cursor: pointer;
    
}

.product-item .item-gr .sub:hover{
    background-color:rgba(238, 255, 254, 0.877);
    box-shadow: -2px 1px 4px rgba(0, 0, 0, 0.6);
}

.btn-modal:hover a ,
.btn-modal:hover{
    cursor: pointer;
    background-color:rgb(91, 201, 195); 
    color: #fa6400;
}

.container .subnav li:hover{
    color: #fa6400;
    background-color: #cac9c9;
}

.footer-social .social-icon:hover{
    color: #cccccc;
    cursor: pointer;
}

.btn-quick-map:hover, .cart-box:hover {
    background-color:rgb(186, 238, 240);
}

a.forgot-pass:hover {
    color: #fa6400;
}

.btn-pr:hover {
    cursor: pointer;
    background-color: #f7690bec;
}
.btn-pr:hover a{
    color: #000;
}
/* hover */


.color-orange {
    color:#fa6400d2 !important;
}

.btn-modal
{
    font-size: 16px;
    border: none;
    background-color: rgba(146, 226, 222, 0.842);
    
}

.buy-btn {
    background-color: #000000;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 4px 8px;
    border-radius:8px ;
    cursor: pointer;
}


.btn-contact{
    border: none;
    font-size: 16px;
    padding: 4px;
    background-color: #857c7c8e;
    border-radius: 8px;
}


html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.modal-login.js-modal-login.open {
    display: flex; 
}

.modal-signin.js-modal-signin.open{
    display: flex;
}
.btn-quick-map {
    position: fixed;
    right: 0;
    text-align: center;
    width: 40px;
    height: 68px;
    z-index: 99999;
    background-color: #fa6400ef;
    top:370px;
    border-top-left-radius: 8px;
    border-bottom-left-radius:8px;
    box-shadow: -1px 1px 4px rgba(214, 214, 214, 0.623);
    cursor: pointer;
}

.cart-box {
    position: fixed;
    right: 0;
    text-align: center;
    width: 40px;
    height: 68px;
    z-index: 99999;
    background-color:#fa6400ef;
    top: 300px;
    border-top-left-radius: 8px;
    border-bottom-left-radius:8px;
    box-shadow: -1px 1px 4px rgba(214, 214, 214, 0.623);
     cursor: pointer;
}

.btn-quick-map a,
.cart-box a{
    position: relative;
    font-size: 12px;
    line-height: 1.6;
    color: rgb(0, 0, 0);
    right: 1px;
    top: 6px;
}   

.btn-quick-map .ti-map-alt, .cart-btn-header{
    font-size: 16px;
   
}

/* - ngoài -> trong -> kích thước -> màu sắc  */
#main{
    background-color: hsl(285, 50%, 98%);
}


#header{
    height: 75px;
    background-color: #fff;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
}
.container{
    height: 75px;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 20px;
}

.logo-home {
}

.nav{
    
}

.nav .menu-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.nav li {
    padding: 15px 48px;
    position: relative;
}

.nav li a {
    color:#000;
}

.nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    min-width: 180px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(230, 228, 228, 0.87);
    margin-left: -12px;
    z-index: 2;
}
.nav li:hover .subnav {
    display: block;
}
.container .subnav li {
    padding: 15px 10px;
    display: block;
    border-radius: 5px;
}

.tool-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tool-header li{
   margin: 0px 16px;
}

.menu-tool .tool-icon {
    font-size: 20px;
    color: #000;
    border: none;
    background-color: #fff;
}


.search-box {
    outline: none;
    padding: 10px 8px;
    border: 1px solid #3d3d3d;
    border-radius: 6px;
}

.search-box-header , .login-btn-header
{
    position: relative;
}

.header-search-btn{
    background-color:#000000;
    border: none;
    box-shadow: -1px 1px 2px rgb(245, 255, 254);
    height: 36px;
    border-bottom-right-radius: 6px;
    border-top-right-radius:6px ;
    position: absolute;
    padding-left: 10px;
    right: 0px;
    top: 1px; 
    cursor: pointer;
}
.search-btn-icon {
    color: #fff;
    font-size: 14px;
    position: relative;
    right: 5px;
    top: 0;
   
}

#slider{
    margin-top: 75px;
    position: relative;
    padding-top: 50%;
    background: url(./img/slider/slider.png) top center /cover no-repeat;
    text-align: center;
}

#slider .slogan-slider {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 276px;
    color: #fa6400;
    background-color: rgba(255, 255, 255, 0.719);
    font-size: 28px;
}

#cosplay-history{
    
}

.content-section {
    width: 1200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 86px 16px;
    background-color:#ececec;
    border-radius:4px; 
}
.heading-section {
    text-align: center;
    font-size: 30px;
    color:#fa6400;
}
.sub-heading-section {
    text-align: center;
    font-size: 15px;
    margin: 8px;
    color: rgba(87, 86, 86, 0.575);
    font-style: italic;
}

.about-text {
    padding-top: 32px;
    text-align: justify;
    line-height: 1.55;
    letter-spacing: 0.5px;
}
#about-us{

}

.about-section {
    width: 1200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 86px 16px;
    background-color: rgb(215, 239, 240);
}
.about-section img{
    border-radius: 60px;
}

.about-content {
    
    border-radius: 8px;
    position: relative;
}

.tags-about {
    padding: 32px 0 16px 0;
}

.btn-pr {
    background-color: #ff6600;
    margin-top: 160px;
    border: none;
    border-radius: 8px;
    padding: 2px 16px;
}

.btn-pr p{
    color:rgb(255, 255, 255);
    font-size: 16px;
    line-height: 50px;
}

#Quick-select-product {
    width: 1200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 86px 16px;
    background-color:rgb(248, 238, 223);
    border-radius:4px; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.product-item {
    padding-top: 64px ;
}
.compact-container{
}
#Quick-select-product img {
    width: auto;
    height: 300px;
    border: 1px solid #000;
}
.product-item .bg{
    
    width: 300px;
    height: 300px;
    position: relative;
}
.product-item .item-ct {
    height: 300px;
    position: relative;
}
.product-item .bl-bg{
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 100%;
    height: 100%;
    
}


.product-item .item-gr {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(50%);
}

.product-item .title {
    font-size: 18px;
    line-height: 42px;
    background-color:rgba(238, 255, 254, 0.4);
}

.item-gr a {
    display: block;
    padding: 5px 0;
    margin: 0 8px;
    color: #000;
    font-weight:500;
}

.item-gr .sub {
    background-color:rgba(238, 255, 254, 0.4);
    border: 0.8px solid rgba(255, 255, 255, 0.5);
}

#typical-list{
    width: 1200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 86px 16px;
    background-color:#f1f1f1;
    border-radius:4px; 
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.heading-typical-list{
    margin-bottom: 64px;
}

.captions-container{

}

.product-content{

}
.tabs{
    display: flex;
    background-color:#fff7cb ;
    padding: 5px 1px 5px 1px;
    border-radius: 8px;
}
.tab-item {
    min-width: 10px;
    color: #000;
    border-bottom-left-radius: 4px;
    background-color:#fff5bd;
    opacity: 0.7;
    cursor: pointer;
    transition: all 0.5s ease;
    margin:0px 60px 0px 60px;
    padding: 5px 1px 5px 1px;
    font-weight: 550;
}
.between-tab-item {
    margin: 0 -30px;
}
.tab-item.active {
    opacity: 1;
    box-shadow: -2px 2px 3px rgb(157, 176, 177);
    font-weight: 575;
}
.caption.active{
    display: block;
}
.captions .caption-ctn{
    margin-top: 16px;
}

.caption .demo-img {
    border-radius: 8px;
    width: 300px;
    height: 300px;
}

.caption {
    display: none;   
} 

  /* footer */
#footer{
    background-color: #4c4c4c ;
    min-height:400px ;  
}
.footer-container {
    padding: 60px 0;
    text-align: center;
}
.footer-content {
    color: #fff;
}
.footer-heading {
    padding: 20px;
}

.footer-container a {
    color: #cccccc;
}

.footer-content .contact-chat {
    padding: 2px 6px;
}

.footer-content li {
    margin:8px 0;
}

.footer-social{
    text-align: center;
    padding: 10px 0;
}

.footer-social .social-icon {
    font-size: 34px;
    color: #cccccc9a;
    padding: 0 4px;
}

.copyright-footer{
    color: #bbb9b9c7;
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
}


/* form-đăng nhập */

.modal-login,
.modal-signin{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.308);
    align-items: center;
    justify-content: center;
    display: none;
}
.modal-signin form {
    background-color: #fff;
    width: 675px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    margin-top: 40px;
    position: relative;
    animation: modal-login-Fadein ease .35s;
}

.modal-login form, .modal-buy-clothes form {
    background-color: #fff;
    width: 675px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modal-login-Fadein ease .35s;
}
.modal-login-heading {
    background-color: #009688;
    color: #fff;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 30px;
}
.modal-body-login {
    font-size: 16px;
    padding:10px 16px;
}
.modal-login-input {
    width: 100%;
    padding: 15px;
    margin:15px 0;
}
.btn-login {
    width: 100%;
    padding: 15px;
}
.footer-modal {
    width: 100%;
    display: inline-block;
    padding: 12px 16px 20px 16px;
}
.footer-modal a{
    color: #000;
}
.btn-signin{
    padding: 8px 6px;
}
/* modal-buy-hàng */
.modal-buy-clothes{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.308);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-buy-clothes form {
    
}

/* end-modal-buy-hàng */

@keyframes modal-login-Fadein {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* form-đăng nhập */