/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.clear {
    clear: both;
}

.ti-arrow-circle-down{
    font-size: 12px;
    background-color: rgba(250, 246, 246, 0.747);
    border-radius:50%;
}

.text-white {
    color:#fff !important; 
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.pull-right {
    float: right !important;
}


.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after{
    content:"";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-three {
    width: 33.33333%;
}

.col-five {
    width: 20%;
}

.col-four {
    width: 25%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.text-center {
    text-align: center !important;
}

a {
    text-decoration-line:none ;
}

li{
    list-style: none;
}
/* hover */

.container li:hover,
.container li:hover .tool-icon,
.container li:hover> a,
.btn:hover,
.footer-container li:hover a{
    color: #fa6400;
    cursor: pointer;
}

.btn-modal:hover a ,
.btn-modal:hover{
    cursor: pointer;
    background-color:rgb(91, 201, 195); 
    color: #fa6400;
}

.container .subnav li:hover{
    color: #fa6400;
    background-color: #cac9c9;
}

.footer-social .social-icon:hover{
    color: #cccccc;
    cursor: pointer;
}

/* hover */

.btn-modal{
    font-size: 16px;
    border: none;
    background-color: rgba(146, 226, 222, 0.842);
}
.btn-contact{
    border: none;
    font-size: 16px;
    padding: 4px;
    background-color: #857c7c8e;
    border-radius: 8px;
}

html {
    
    font-family: Arial, Helvetica, sans-serif;
}

.modal-login.js-modal.open {
    display: flex;
}

/* - ngoài -> trong -> kích thước -> màu sắc  */
#main{

}


#header{
    max-width: 1920px;
    height: 75px;
    background-color: #fff;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
}

.container{
    max-width: 1880px;
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 46px;
    font-size: 16px;
}

.logo-home {
}

.nav{

}

.nav .menu-item {
}

.nav li {
    display: inline-block;
    padding: 15px 48px;
    position: relative;
}

.nav li a {
    color:#000;
}

.nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 180px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(230, 228, 228, 0.87);
    margin-left: 15px;
}
.nav li:hover .subnav {
    display: block;
}
.container .subnav li {
    padding: 15px 10px;
    display: block;
    border-radius: 5px;
}


.menu-tool {
    position: relative;
    right: 0 !important;
}

.menu-tool li {
    display: inline-block;
    padding: 0 16px;
}

.menu-tool li a {
    color: #000;
}

.menu-tool .tool-icon {
    font-size: 20px;
    color: #000;
    border: none;
    background-color: #fff;
}




#slider{
    margin-top: 75px;
    height: 400px;
    background-color: #f56d12d0;
}


#content{
    
}


#footer{
    background-color: #4c4c4c ;
    width: 100%;
    min-height:400px ;  
}
.footer-container {
    padding: 60px 0;
    text-align: center;
}
.footer-content {
    color: #fff;
}
.footer-heading {
    padding: 20px;
}

.footer-container a {
    color: #cccccc;
}

.footer-content .contact-chat {
    padding: 2px 6px;
}

.footer-social{
    text-align: center;
    padding: 10px 0;
}

.footer-social .social-icon {
    font-size: 34px;
    color: #cccccc9a;
    padding: 0 4px;
}

.copyright-footer{
    color: #bbb9b9c7;
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
}

/* form-đăng nhập */

.modal-login {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.308);
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-login form {
    background-color: #fff;
    width: 675px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modal-login-Fadein ease .35s;
}
.modal-login-heading {
    background-color: #009688;
    color: #fff;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 30px;
}
.modal-body-login {
    font-size: 16px;
    padding:10px 16px;
}
.modal-login-input {
    width: 100%;
    padding: 15px;
    margin:15px 0;
}
.btn-login {
    width: 100%;
    padding: 15px;
}
.footer-modal {
    width: 100%;
    display: inline-block;
    padding: 12px 16px 20px 16px;
}
.footer-modal a{
    color: #000;
}
.btn-signin{
    padding: 8px 6px;
}
@keyframes modal-login-Fadein {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* form-đăng nhập */