/* reset css */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

.fas .fa-angle-down{
    font-size: 12px;
    background-color: rgba(250, 246, 246, 0.747);
    border-radius:50%;
}

.text-white {
    color:#fff !important; 
}

.bd-lr {
    border-left: 1px solid #000 !important;
    border-right: 1px solid #000 !important;
}

.bdbt-4px {
    border-bottom: 1.4px dashed #000 !important;
}

.bdbt-2px{
    border-bottom: 2px solid #000 !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.pd-tb-6 {
    padding: 6px 0 !important;
}

.pdb-20{
    padding-bottom: 20px !important;
}

.padding-bottom {
    padding-bottom:4px !important;
}

.pdtb-10 {
    padding: 6px 0 !important;
}

.mgb-10 {
    margin: 10px 0 !important;
}

.mgb-20{
    margin-bottom: 20px !important;
}

.mgt-8 {
    margin-top: 8px !important;
}

.mgt-12 {
    margin-top: 12px !important;
}

.mgb-8{
    margin-bottom: 8px!important;
}
.mgl-8{
    margin-left: 8px !important;
}
.mt-16 {
    margin-top: 16px !important;
}
.mgl-16 {
    margin-left: 16px !important;
}

.mgl-32 {
    margin-left: 32px !important;
}

.pull-right {
    float: right !important;
}

.border-0{
    border: 0px !important;
}

.margin-navba {
    margin: 39px 0px 15px 0px !important;
}

.bdrdu-48-hcn{
    border-bottom-left-radius: 48px;
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;
    border-bottom-right-radius: 48px;
}

.divider {
    background-color: #fff;
    background: url(./img/img-product/bg_divider.png) repeat-x 7px;
    height: 20px;
    margin: 4px 0px;
}


.row {
    /* margin-left: 8px;
    margin-right: 8px;  */    
}

.row::after{
    content:"";
    display: block;
    clear: both;
}

.col {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

.col-1-3 {
    width: 25%;
}

.bdl {
    border-left: 1px solid rgb(8, 8, 8);
}

.col-3-1
{
    width: 75%
}

.col-three {
    width: 33.33333%;
}

.col-five {
    width: 20%;
}

.col-four {
    width: 25%;
}

.col-half {
    width: 50%;
}

.col-full {
    width: 100%;
}

.text-center {
    text-align: center !important;
}

a.dis{
    pointer-events: none;
}

a {
    text-decoration-line:none ;
}

li{
    list-style: none;
}

.heding-modal {
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 30px;
}

/* hover */

.container li:hover,
.container li:hover .tool-icon,
.container li:hover> a,
.btn:hover,
.footer-container li:hover a,
.content-section .more-sub:hover,
.product-item .item-gr .sub:hover{
    color: #fa6400;
    cursor: pointer;
    
}

.product-item .item-gr .sub:hover{
    background-color:rgba(238, 255, 254, 0.877);
    box-shadow: -2px 1px 4px rgba(0, 0, 0, 0.6);
}

.btn-modal:hover a ,
.btn-modal:hover{
    cursor: pointer;
    background-color:rgb(91, 201, 195); 
    color: #fa6400;
}
.btn-pay:hover{
    background-color:rgb(0, 0, 0);
    cursor: pointer;
    opacity: 0.8;
}
.container .subnav li:hover{
    color: #fa6400;
    background-color: #cac9c9;
}

.footer-social .social-icon:hover{
    color: #cccccc;
    cursor: pointer;
}

.box-quick-map li:hover{
    background-color: #FA6900;
}

.box-quick-map li {
    text-align: center;
    padding: 1px 0 4px 0;
    border-top: 1px solid #ccc ;
}

.box-quick-map li:hover a {
   color:#fff;
}

.btn-quick-map:hover .box-quick-map{
    display: flex;
    background-color: #E0E4CC;
    border-bottom-left-radius: 4px ;
    border-bottom-right-radius: 4px ;
    padding-bottom: 10px;
}

a.forgot-pass:hover {
    color: #fa6400;
}

.btn-pr:hover {
    cursor: pointer;
    background-color: #f7690bec;
}
.btn-pr:hover a{
    color: #000;
}

.nav-product-list .check-prd:hover {
    color: #fa6400;
    background-color:#a7dbd8c4;
    box-shadow: -2px 1px 3px rgba(0, 0, 0, 0.6);
}

.nav-product-list {
    cursor: pointer;
}

.check-prd {
    padding-left: 8px;
    font-weight: 545;
}

/* hover */


.color-orange {
    color:#fa6400d2 !important;
}

.btn-modal
{
    font-size: 16px;
    border: none;
    background-color:#000;
    color: #fff;
}

.buy-btn {
    background-color: #000000;
    border: none;
    color: #fff;
    font-size: 16px;
    padding: 4px 8px;
    border-radius:8px ;
    cursor: pointer;
}


.btn-contact{
    border: none;
    font-size: 16px;
    padding: 4px;
    background-color: #857c7c8e;
    border-radius: 8px;
}


html {
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}

.modal-login.js-modal-login.open {
    display: flex; 
}

.modal-signin.js-modal-signin.open{
    display: flex;
}

.modal-buy-clothes.js-modal-clothes.open {
    display: flex;
}


.btn-quick-map {
    position: fixed;
    right: 0px;
    text-align: center;
    width: 64px;
    height: 40px;
    z-index: 99999;
    background-color:#E0E4CC;
    box-shadow: -1px 1px 4px rgba(214, 214, 214, 0.623);
    cursor: pointer;
}

.btn-quick-map .menu-shop {
    background-color:#E0E4CC;
}

.heading-quick-map {
    position: relative;
    bottom: 4px;
    background-color:#E0E4CC;
}

.btn-quick-map a{
    position: relative;
    font-size: 12px;
    line-height: 1.6;
    color: rgb(0, 0, 0);
    right: 1px;
    top: 6px;
}

.box-quick-map{
    position: absolute;
    display: none;
}

.product-frame {
    /* background-color: #fff; */
}

#main input {
    outline: none;
}

/* - ngoài -> trong -> kích thước -> màu sắc  */
#main{
    background-color: #F8ECC2;
}


#header{
    height: 100px;
    background-color: #fff;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
}
.container{
    height: 100px;
    min-width: 100px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding: 0 20px;
}

#header .img-logo{
    height: 40px;
    image-rendering:auto;
}

.nav{
    
}
.menu-item > li > a {
    font-weight: 530;
}

.nav .menu-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

.nav li {
    padding: 15px 48px;
    position: relative;
    border-right:1px solid #ccc ;
}

.nav li a {
    color:#000;
}

.nav .subnav {
    display: none;
    position: absolute;
    top: 100%;
    min-width: 180px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(230, 228, 228, 0.87);
    margin-left: -12px;
    z-index: 2;
}
.nav li:hover .subnav {
    display: block;
}
.container .subnav li {
    padding: 15px 10px;
    display: block;
    border-radius: 5px;
}

.tool-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tool-header li{
   margin: 0px 16px;
}

.menu-tool .tool-icon {
    font-size: 20px;
    color: #000;
    border: none;
    background-color: #fff;
}


.search-box {
    outline: none;
    padding: 10px 8px;
    border: 1px solid #3d3d3d;
    border-radius: 6px;
}

.search-box-header , .login-btn-header
{
    position: relative;
}

.login-header{
    padding-left : 2px;
    text-align: center;
}
.header-search-btn{
    background-color:#000000;
    border: none;
    box-shadow: -1px 1px 2px rgb(245, 255, 254);
    height: 36px;
    border-bottom-right-radius: 6px;
    border-top-right-radius:6px ;
    position: absolute;
    padding-left: 10px;
    right: 0px;
    top: 1px; 
    cursor: pointer;
}
.search-btn-icon {
    color: #fff;
    font-size: 14px;
    position: relative;
    right: 5px;
    top: 0;
   
}

#slider{
    margin-top: 100px;
    position: relative;
    padding-top: 50%;
    background: url(./img/slider/slider.png) top center /cover no-repeat;
    text-align: center;
    margin-bottom: 86px;
}

#slider .slogan-slider {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 276px;
    color: #fa6400;
    background-color: rgba(255, 255, 255, 0.719);
    font-size: 28px;
}

#cosplay-history{
    
}

.content-section {
    border-top: 2px dashed #000; 
    width: 1200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 86px 16px;
    background-color:#A7DBD8;
    border-bottom-left-radius: 60px; 
    border-bottom-right-radius: 60px; 
   
}
.heading-section {
    text-align: center;
    font-size: 30px;
    color:#fa6400;
}
.sub-heading-section {
    text-align: center;
    font-size: 15px;
    margin: 8px;
    color: rgba(87, 86, 86, 0.575);
    font-style: italic; 
    
}

.about-text {
    padding-top: 32px;
    text-align: justify;
    line-height: 1.8;
    letter-spacing: 0.5px;
    font-weight: 545;
    font-family: Tahoma;
}
#about-us{

}

.about-section {
    border-top-left-radius: 60px ;
    border-top-right-radius: 60px ;
    width: 1200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 86px 16px;
    background-color: #A7DBD8;
}
.about-section img{
    border-radius: 60px;
}

.about-content {
    
    border-radius: 8px;
    position: relative;
}

.tags-about {
    padding: 32px 0 16px 0;
}

.btn-pr {
    background-color: #ff6600;
    margin-top: 160px;
    border: none;
    border-radius: 8px;
    padding: 2px 16px;
}

.btn-pr p{
    color:rgb(255, 255, 255);
    font-size: 16px;
    line-height: 50px;
}

#Quick-select-product {
    border-top: 2px dashed #000 ;
    width: 1200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 86px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #E5F78D;
    border-bottom-left-radius: 60px ;
    border-bottom-right-radius: 60px ;
    margin-bottom: 86px;
}

.product-item {
    padding-top: 64px ;
    border-radius: 16px;
}
.compact-container{
    
}
#Quick-select-product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
}
.product-item .bg {
    width: 100%;
    position: relative;
    object-fit: cover;
    background-color: none;
}
.product-item .item-ct {
    position: relative;
}
.product-item .bl-bg{
    background-color: rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
}

.product-item .item-gr {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translateY(100%);
}

.product-item .title {
    font-size: 20px;
    line-height: 42px;
    font-weight: 550;
    color: #fa6400;
    background-color:rgba(238, 255, 254, 0.877);
}

.item-gr a {
    display: block;
    padding: 5px 0;
    margin: 0 8px;
    color: rgb(39, 39, 39);
    font-weight:525;
    background-color:rgba(238, 255, 254, 0.4);
    font-weight: 550;
}

#typical-list{
   
}

.typical-list-container {
   width: 1200px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 86px 16px;
    background-color: #E5F78D;
    border-top-left-radius: 60px ;
    border-top-right-radius: 60px ;
}

.heading-typical-list{
    margin-bottom: 68px;
}

.captions-container{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-content{

}
.tabs{
    display: flex;
    background-color:#69D2E7 ;
    padding: 5px 1px 5px 1px;
    border-radius: 12px;
}
.tab-item {
    flex: 1;
    min-width: 10px;
    color: #FA6900;
    border-bottom-left-radius: 12px;
    background-color:#69D2E7;
    opacity: 0.9;
    cursor: pointer;
    transition: all 0.5s ease;
    margin:0px 60px 0px 60px;
    padding: 5px 1px 5px 1px;
    font-weight: 550;
}
.between-tab-item {
    margin: 0 -30px;
}
.tab-item.active {
    opacity: 1;
    box-shadow: -2px 2px 3px rgb(157, 176, 177);
    font-weight: 565;
}
.caption.active{
    display: block;
}
.captions .caption-ctn{
    margin-top: 16px;
}

.caption {
    display: none;   
} 

/* ------------------------------------------------------------------------------------------------ */
/* Khung sản phẩm */
    #product-container {
        padding-top: 140px;
        background-color: #F8ECC2;
    }

    .heding-prd-box {
        position: relative;
        left: 0 ;
        background-color: #F38630;
    }

    .heading-prd {
        position: absolute;
        left: 10px;
        color: #fa6400;
    }
    .nav-product-list{
        padding: 28px;
        border-right: 1px solid #ccc ;
    }
    .thumbnail {
        display: inline-block;
        padding: 0px;
        margin-bottom: 0px;
        line-height: 1.42857143; 
        background-color: #f8ecc200;
        border: none;
        border-radius: 0px;
        position: relative;
        width: 100%;
    }
    .thumbnail .cont-item {
        text-align: center;
        width: 100%;
        padding-top: 100%;
        position: relative;
    }

    .anh-bia {
        margin-left: 8px;
        margin-bottom: 28px ;
        position: relative;
    }

    .logo-prd{
        width: 42%;
        height: 42%;
        object-fit: cover;
    }

    .thumbnail .cont-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        border-radius: 5%  ;
    }
    .nav-hd {
        margin-top: 8px;
        text-align: center;
        color: #999;
    }
    .nav-product-list li {
        line-height: 1.2;
    }
    .slide-prd {
        background-color: #F8ECC2;
        margin-bottom: 40px;
    }

    .slide-prd p {
        font-weight: 550;
    }

    .heading-slide-prd {
        height: 180px;
    }

    .logo-tags {
        width: 100%;
        height: 100%;
        object-fit: cover;

    }

    .content-slide {
        position: relative;

    }
    .content-slide .hd1, .content-slide .hd2 {
       position: relative;
       right: 60px;
       top: 28px;
    }
    .bg-pr-f1f1f1 {
        background-color: #A7DBD8;
    }
    

/* Khung sản phẩm */
/* ------------------------------------------------------------------------------------------------ */
  /* footer */
#footer{
    background-color: #4c4c4c ;
    min-height:400px ;  
}
.footer-container {
    padding: 60px 0;
    text-align: center;
}
.footer-content {
    color: #fff;
}
.footer-heading {
    padding: 20px;
}

.footer-container a {
    color: #cccccc;
}

.footer-content .contact-chat {
    padding: 2px 6px;
}

.footer-content li {
    margin:8px 0;
}

.footer-social{
    text-align: center;
    padding: 10px 0;
}

.footer-social .social-icon {
    font-size: 34px;
    color: #cccccc9a;
    padding: 0 4px;
}

.copyright-footer{
    color: #bbb9b9c7;
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
}


/* form-đăng nhập */

.modal-login,
.modal-signin{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.308);
    align-items: center;
    justify-content: center;
    display: none;
}
.modal-signin form {
    margin-top: 40px;
}

.modal-login form,
.modal-signin form{
    background-color: #69D2E7;
    width: 675px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modal-login-Fadein ease .35s;
    border-radius:16px ;
}
.modal-login-heading{
    color: #000;
    border-bottom: 4px solid #000;
}
.modal-body-login {
    font-size: 16px;
    padding:10px 16px;
}
.modal-login-input {
    width: 100%;
    padding: 15px;
    margin:15px 0;
}
.btn-login {
    width: 100%;
    padding: 15px;
}
.footer-modal {
    width: 100%;
    display: inline-block;
    padding: 12px 16px 20px 16px;
}
.footer-modal a{
    color: #000;
}
.btn-signin{
    padding: 8px 6px;
}
/* modal-buy-hàng */
.modal-buy-clothes{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.308);
    display: none; 
    align-items: center;
    justify-content: center;
    z-index: 99999;
}

.modal-buy-clothes form {
    width: 800px;
    max-width: calc(100% - 32px);
    min-height: 200px;
    animation: modal-login-Fadein ease .35s;
    margin-top: 20px;
    background-color: #69D2E7;
    border-radius: 16px;
}

.modal-buy-closthes-heading{
    border-bottom: 4px solid #000 ;
    color: #000;
}

.modal-body-buy-closthes{
    display: flex;
    justify-content: space-around;
    font-size: 16px;
    padding:10px 16px;
    margin-top: 42px;
}
.body1-buy-clothes {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.body1-buy-clothes .image-product img{
    width: 300px;
    height: 300px;
    border-radius: 18px;
}

.body2-buy-clothes{
    flex: 1;
    box-shadow: -1px 1px 6px rgb(80, 80, 80);
    border-radius: 8px ;
}


.icon-info {
    font-size: 26px;
}

.box-place-ship .form-row,
.form-row-size {
    display: flex;
    align-content: space-around ;
}
.form-row-size label {
    margin-left: 4px;
}
.box-place-ship .form-row{
    margin: 18px 0;
}

.box-place-ship .form-row .info-ship {
    width: 100%;
    padding: 10px 0;
    border: 1px solid #ccc;
}

.options-heading-box-modal{
    margin: 6px 0 20px 0;
}

.options-body-box-modal {
    margin-top: 10px;
}

.size-clothes {
    margin-top: 1px ;
}

.modal-body-buy-closthes input {
    outline: none;
}

.btn-row-pay {
}

.btn-pay {
    width: 100%;
    padding: 16px;
    border: none ;
    background-color: rgb(0, 0, 0);
    color: #fff;
    opacity: 1;
}
.footer-modal-clothes {
    position: relative;
    right: 20px;
    top:-6px;
    padding-bottom: 8px;
}

/* end-modal-buy-hàng */

@keyframes modal-login-Fadein {
    from {
        opacity: 0;
        transform: translateY(-140px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* form-đăng nhập */